.nav{
    font-size: auto;
}

h2{
    font-family: 'Montserrat-Bold'sans-serif;
    font-size:3rem;
    line-height: 1.5;
}

#part_1{
    background-color: aqua;
}

#part_2{
    background-color: yellow;
    padding:2% 2%;
}

.heading{
    font-size: 3.5rem;
    font-family: 'Montserrat',sans-serif;
}

.container1{
    padding: 2%;
    font-family: 'Montserrat',sans-serif;
}
.container-fluid{
    padding: 5%;
    font-family: 'Montserrat',sans-serif;
}
.img1{
    filter: drop-shadow(10px 10px 10px rgb(18, 19, 18));  
}
.container2{
    padding-bottom: 5rem;
}
.buttonfeature{
    padding:10% 10% 10%;
}
.container3{
    padding:1rem;
    font-family: 'Montserrat',sans-serif;
}
#testimonials{
    padding:7% 5%;
    text-align: center;
    background-color: aqua;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#features_3{
    padding:7% 5%;
}
.feature-box{
    text-align: center;
    padding:5%;
}
#form_part{
    padding:7% 5%;
}
#part_contact{
    background-image: url("contact_bg.jpg");
    align-content: center;
}
.feature-box_contact{
    text-align: center;
    background-color:aliceblue;
}
#Result{
    background-color:aqua;
}
.card{
    background-color:rgb(251, 251, 249);
    text-align: center;
}