<!doctype html>
<html lang="en">
  <head>
    <title>contact_us</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/styles2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <section id="part_1">
        <div class="container1">
          <div class="row">
            <div class="col-lg-6 col-sm-6">CROP RECOMMANDATION SYSTEM</div>
            <div class="col-lg-6 col-sm-6">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Recommand_crop.html">Crop recommandation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="contact_us.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <section id="part_contact">
      <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-header">
              <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
              </div>
              <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
              </div>
            </div>
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT</span>
                  <span>US</span>
                </div>
                <div class="app-contact">mail us: ranitsarkar71@gmail.com</div>
              </div>
              <form action="/contact_us.html" method="post">
                <div class="screen-body-item">
                  <div class="app-form">
                    <div class="app-form-group">
                      <input id="name" class="app-form-control" name="name" placeholder="Ranit Sarkar">
                    </div>
                    <div class="app-form-group">
                      <input id="email" name="email" class="app-form-control" placeholder="EMAIL">
                    </div>
                    <div class="app-form-group message">
                      <input id="message" name="message" class="app-form-control" placeholder="MESSAGE" >
                    </div>
                    <div class="app-form-group buttons">
                      <button type="submit" class="app-form-button">SEND</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>