<!DOCTYPE html>
<html lang="en">
  <head>
    <title>crop_recomendation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/styles.css" />

    <!--font icon styles-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="part_1">
      <div class="container1">
        <div class="row">
          <div class="col-lg-6 col-sm-6">CROP RECOMMANDATION SYSTEM <br>
            Day: {{time}}
          </div>
          <div class="col-lg-6 col-sm-6">
            <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Recommand_crop.html"
                  >Crop recommandation</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact_us.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="container2">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="heading">
                MAKE PROPER ASSESSMENT USING INTELLEGENT CROP RECOMMANDATION
                SYSTEM
              </h1>
            </div>
            <div class="col-lg-4">
              <img src="static/laptop.png" class="img1 img-fluid" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-4">
            <div
              id="carouselExampleFade"
              class="carousel slide carousel-fade"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="3000">
                  <img
                    src="static/rice bowl.png"
                    class="img1 d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-interval="3000">
                  <img
                    src="static/riceplant.png"
                    class="img1 d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item" data-interval="3000">
                  <img
                    src="static/riceplant2.png"
                    class="img1 d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8">
            <p>
              Fiber can lower cholesterol and reduce your risk of heart disease
              and stroke. Since fiber makes you feel full, you may find it
              easier to maintain a healthy weight. Also, brown rice contains
              vitamins and minerals that help the blood transport oxygen and
              perform other vital functions.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="part_2">
      <div class="row">
        <div class="buttonfeature feature-box col-lg-6 col-md-6 col-sm-6">
          <h3>Click here</h3>
          <a href="Recommand_crop.html">
            <button type="button" class="btn btn-outline-dark btn-lg">
              <span class="material-symbols-outlined">open_in_new </span> CROP
              RECOMMANDATION
            </button>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="container3">
            <h1>Information Required</h1>
            <ul>
              <li>Nitrogen</li>
              <li>Phosphorus</li>
              <li>Potassium</li>
              <li>Temperature</li>
              <li>Humidity</li>
              <li>Ph</li>
              <li>Rainfall-depth</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="features_3">
      <div class="row">
        <div class="feature-box col-lg-4 col-sm-4">
          <span class="material-symbols-outlined">swap_vert</span><br />
          <h5>Easy to access</h5>
        </div>
        <div class="feature-box col-lg-4 col-sm-4">
          <span class="material-symbols-outlined">select_check_box</span><br />
          <h5>High Precision</h5>
        </div>
        <div class="feature-box col-lg-4 col-sm-4">
          <span class="material-symbols-outlined">switch_access_shortcut</span
          ><br />
          <h5>Increase Productivity</h5>
        </div>
      </div>
    </section>
    <section id="testimonials">
      <h2>Enhance Productivity</h2>
      <img
        class="testimonial-image"
        src="static/profile_pic.jpeg"
        alt="Ranit_Webdeveloper"
      />
      <em>Ranit, INDIA</em>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
